<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.kantic.mailpit-graphapi</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/mailpit-graphapi</string>
    <string>--listen</string><string>127.0.0.1:8081</string>
    <string>--mailpit-url</string><string>http://127.0.0.1:8025</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict><key>MAILPIT_GRAPH_TOKEN</key><string>CHANGE_ME</string></dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>/tmp/mailpit-graphapi.log</string>
  <key>StandardErrorPath</key><string>/tmp/mailpit-graphapi.error.log</string>
</dict>
</plist>
